h1, 
h2, 
h3, 
h4,
h5,
h6 {

}

p {

}

article {
  padding: 10px;
}


.archive {
  padding: 10px;
}

h1 a:link {
  text-decoration: none;
  color: black;
}

h1 a:visited {

}

h1 a:hover,
h1 a:focus {

}

p a:link {

}

p a:visited {

}

p a:hover,
p a:focus {

}

time {

}

.archive ul {
  
}

.archive li {

}