/* Site styles */

h1, 
h2, 
h3, 
h4,
h5,
h6 {
  font-family: 'Raleway', serif; 
}

p {
  font-family: 'Lora', sans-serif;
  font-size: 18px;
  line-height: 1.5em;
  color: black;
}

a {
  text-decoration: none;
}

/* Fonts for Menu */

#menu {
  font-family: 'Raleway', sans-serif;
}

/* Post styles */

article {
  padding: 10px;
}

h1 a:link {
  color: black;
}

h1 a:visited {
  color: black;
}

h1 a:hover,
h1 a:focus {
  color: #DF2D4F;
}

p a:link {
  color: #166F92;
}

p a:visited {
  color: #777777;
}

p a:hover,
p a:focus {
  border-bottom: 1px solid #DF2D4F;
  color: #166F92;
}

time {

}

/* Archive styles */

.archive {
  padding: 30px 10px 10px 10px;
}

.archive h1,
.archive h2 {
  color: black;
  text-align: center;
}

.archive ul {
  list-style-type: none;
}

.archive li {

}

.archive a:link {
  color: #166F92;
}

.archive a:visited {
  color: #777777;
}

.archive a:hover,
.archive a:focus {
  border-bottom: 1px solid #DF2D4F;
  color: #166F92;
}

.archive h1 a {
  color: black;
}

.archive h1 a:visited{
  color:black;
}